* {
    box-sizing: border-box;
    margin: auto;
}

#header {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 20px;
}

#nav {
    background-color: darkolivegreen;
    color: white;
}
#section {
    background-color: #e4e4e4;
    border: 1px solid blue;
    padding: 20px;
    text-align: center;
    /*width: 600px;*/
    /*height: 600px;*/
}
#section h6{
    text-align: center;
}
#section h2 {
    background-color: #e4e4e4;
    padding: 20px;
    text-align: center;
}
#memberSaveForm, #memberLoginForm {
    text-align: left;
    margin:  auto;
    /*width:600px;*/

}
.memberSaveInput .memberLoginInput{
    /*width: 500px;*/
}
/*#section h2 {*/
/*    text-align: center;*/
/*}*/
#footer {
    background-color: black;
    text-align: center;
    color: yellow;
    padding: 20px;
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
}
#nav ul li {
    float: left;
}
#nav ul li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
}
#nav ul li.login-name {
    float: right;
}
#section ul {

     list-style-type: none;
     /*overflow: hidden;*/
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    /*margin: 0 auto;*/
 }
.container{
    width: 100%;
    display: flex;
    /*justify-content: center;*/
}
#section ul li {
    float: left;
    /*text-align: center;*/
    padding-right: 5px;
    /*margin: 0 auto;*/
}
/*#section .container{*/
/*    text-align: center;*/
/*    margin: 0 auto;*/
/*}*/
#section .indexbtn {
    width: 30%;
    height: 20%;
    background-color: coral;
    color: white;
    font-size: 50px;
}
input {
    display: block;
    text-align: left;
}













