* {
    box-sizing: border-box;
    margin: auto;
}

#header {
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 20px;
}

#nav {
    background-color: darkolivegreen;
    color: white;
}

#section {
    background-color: #e4e4e4;
    padding: 20px;
    text-align: center;
}

#section h6 {
    text-align: center;
}

#section h2 {
    background-color: #e4e4e4;
    padding: 20px;
    text-align: center;
}

#memberSaveForm, #memberLoginForm {
    text-align: left;
    margin: auto;

}

.memberSaveInput .memberLoginInput {
    /*width: 500px;*/
}

#footer {
    background-color: black;
    text-align: center;
    color: yellow;
    padding: 20px;
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
}

#nav ul li {
    float: left;
}

#nav ul li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
}

#nav ul li.login-name {
    float: right;
}

#section ul {

    list-style-type: none;
    /*overflow: hidden;*/
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    display: flex;
    /*justify-content: center;*/
}

#section ul li {
    float: left;
    padding-right: 8px;
}

#section table td {
    padding-right: 8px;

}

#section .index_btn {
    width: 200px;
    height: 50px;
    background-color: seagreen;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

input {
    display: block;
    text-align: left;
}

#selectPageMaxBoard {
    margin-left: 100px;
}

#listTableLevel {
    float: right;
}

#boardCnt {
    float: left;
    font-weight: bold;
    color: #084298;
}

#boardListL {
    width: 600px;
}

/*#fileAttachGol {*/
/*    color: #0d6efd;*/
/*    font-size: 1px;*/
/*}*/

/*#section #fileAttachGol {*/
/*    color: red;*/
/*    font-size: 12px;*/
/*}*/

#tdSize {
    text-align: left;
    padding-right: 20px;
}
#boardCnt span {
    color: #2c3034;
    font-size: 14px;
    font-weight: bold;
}

#tdSize span {
    color: #2c3034;
    font-size: 12px;
    font-weight: bold;
}












