<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mb_Comment">

    <insert id="commentSave" parameterType="comment">
        insert into mb_comment (boardId,memberId,commentWriter,commentContents)
            values (#{boardId},#{memberId},#{commentWriter},#{commentContents})
    </insert>

    <select id="findAll" parameterType="Long" resultType="comment">
        select * from mb_comment where boardId=#{boardId} order by id desc
    </select>
    <delete id="commentDel" parameterType="Long">
        delete from mb_comment where id=#{id}
    </delete>
    <select id="commentCnt" parameterType="Long" resultType="Long">
        select count(id) from mb_comment where boardId=#{id}
    </select>
</mapper>