<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Mb_member">
    <insert id="mb_membersave" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into mb_member(memberEmail, memberPassword, memberName, memberMobile, memberProfile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile}, #{memberProfile})

    </insert>
    <insert id="saveProfileFile" parameterType="memberfile">
        insert into mb_profileFile_table(profileFileName, profileStoredFileName, memberId)
        values (#{profileFileName}, #{profileStoredFileName}, #{memberId})
    </insert>
    <select id="findByEmail" parameterType="String" resultType="member">
        select * from mb_member where memberEmail = #{memberEmail}

    </select>
    <select id="memberList"  resultType="member">
        select * from mb_member

    </select>

    <select id="findMemberById" parameterType="Long" resultType="member">
        select * from mb_member where id = #{memberId}

    </select>
    <select id="memberLogin" parameterType="member" resultType="member">
        select * from mb_member where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>
    <select id="findFile" parameterType="Long" resultType="memberfile">
        select * from mb_profileFile_table where memberId=#{memberId}
    </select>
    <delete id="memberDel" parameterType="Long">
        delete from mb_member where id = #{memberId}
    </delete>
    <update id="memberUpdate" parameterType="member">
        update mb_member set memberEmail=#{memberEmail},memberName=#{memberName}, memberMobile=#{memberMobile} where id = #{id}

    </update>
    <select id="findIdByEmail" resultType="Long" parameterType="String">
        select id from mb_member where memberEmail = #{memberEmail}
    </select>
</mapper>














